.main{
    // width: 15rem;
    display: flex;
    &__comp1, &__comp2, &__comp3, &__comp4{
        width: 14.5rem;
        margin-left: 0.5rem;
    }
    &__link{
        border: 3px dashed red;
    }
    &__one{
        margin-bottom: 0.5rem;
        flex-direction: row;
    }
    &__two{
        margin-bottom: 3rem;
        flex-direction: row;
    }
    &__text{
        width:31rem;
        padding-bottom: 4rem;
    }
    &__wrapper{
        margin-left: 5rem;
        padding-top: 4rem;
        margin-right: 5rem;
    }
}