.navRight{
    margin-top:4rem;
    height:40rem;
    justify-content:center;
    align-items:space-between;
    &__one{
        display:flex;
        justify-content:center;
        width:65%;
        // padding-bottom: 1rem;
    }
    &__two{
        // display: flex;
        // width:80%;
        padding-top:95%;
        &__button{
            // width:45%;
            height: 2rem;
        }
        &__buttontwo{
            height: 2rem;
            margin-left: 1rem;
        }
    }
}